body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    background-color: white;
}

.main-nav {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 50px;
    align-items: center;
}

.main-nav__logo-wrapper,
.main-nav__list li {
    padding: 0 15px;
}

.main-nav__logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.logo {
    padding-right: 15px;
} 

.main-nav__logo-text,
.main-nav__list a {
    color: #000000;
    font-size: 16px;
}

.main-nav__logo-text:hover,
.main-nav__list a:hover,
.main-nav__list a:focus {
    color: olivedrab;
}

.main-nav__list {
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.page-main {
    padding-top: 80px;
}

.main-info {
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/banner.png);
    background-size: 1920px auto;
    background-repeat: no-repeat;
    background-position: 0 70%;
}

.main-info svg {
    margin-top: 50px;
}

.main-info h1 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 0;
}

.main-info p {
    margin-top: 10px;
}

.button-order {
    width: 170px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 30px auto;
    padding: 5px 0;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.button-order:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #000000;
}

.features,
.about-us,
.info-rest {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.features-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feature-item {
    width: 310px;
}

.feature-item h2,
.about-us h2,
.info-rest h2 {
    font-size: 23px;
}

.wrapper {
    width: 100%;
    background-color: #f1f1f1;
}

.about-us,
.info-rest {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.about-us__wrapper,
.info-rest__wrapper {
    width: 400px;
}